<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logPath" value="../logs"/>
    <property name="logLevel" value="INFO"/>
    <property name="outPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c] - %m%n" />
    <property name="accessPattern" value="%m%n" />
    <property name="maxHistory" value="7" />
    <!-- logback -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/access.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${outPattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref ="FILE"/>
    </appender>

    <root level="${logLevel}">
        <appender-ref ref="ASYNC_FILE" />
        <!-- <appender-ref ref="FILE" /> -->
    </root>

</configuration>
